/*desktop css*/

/**********************
main
***********************/
body {
	background-color: white;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px 0px 0px 0px;	
}

header {	
	color: #FFFFFF;
	background-color: #202020;	
    background-image: url('../img/logo_main.png');
	background-position: center;
	background-repeat: no-repeat;
}

h1 {
	margin: 0px 0px 20px 0px;
	padding: 10px 10px 10px 10px;
	text-align:center;	
	font-size: 3em;		
	line-height: 150%;
}

h2 {
	margin: 0px 0px 10px 0px;
	padding: 5px 5px 5px 5px;
	background-color: #7ac9ed;	
	text-align:center;
	font-size: 2em;		
}

h5 {
	margin: 0px 0px 20px 0px;
	text-align:center;
	color: #d6d6d6;	
}

h6 {
	text-align:center;
}

nav {
	margin-top: 10px;
	font-weight: bold;
	float: left;
	width: 150px;
	line-height: 100%;
	position: fixed;
	text-align: right;	
}

main {
	margin: 0px 210px 0px 210px; 
	padding-right: 20px;
    padding-bottom: 20px;
}

footer {
	padding: 100px 0px 40px 0px;
	font-size: 1em;
	font-style: normal;
	text-align: center;
	clear: both;
}



header, nav, main {
	display: block;
}

ul {	
	margin: 0px 0px 20px 0px;
}

dl {	
	margin: 0px 0px 20px 0px;
}




/**********************
form 
***********************/
button, input, select, textarea {
	margin: 10px 0px 15px 10px;
	font-family: inherit;
	font-size: 150%;
	color: gray;
}

label {	
	margin: 10px 10px 0px 0px;
	float: left;
	display: block;
	text-align: right;
	width: 8em;
}

input {
	display: block;
	border: 1px dotted #999;
	padding: 4px 4px 4px 4px;
}

textarea {
	display: block;
	margin-bottom: 1em;
	border: 1px dotted #999;	
	width: 35;
	height: 10em;
}

#mySubmit {
	border: none;
	font-size: 100%;
	padding: 10px 10px 10px 10px;
	margin-left: 8em
}
#myEmail {
	background-color: #fffcf5;
}

/**********************
tables
***********************/
table {
	margin: auto;
	border-collapse: collapse;
	margin: 0px 0px 0px 0px;
}

th {
	padding: 0.5em 0.5em 0.5em 0.5em;
	text-align: right;
	font-size: 90%;	
}

td {
	padding: 2em 0em 1em 0em;
}


/**********************
links
***********************/

nav ul {
	list-style-type: none;
}

nav a {
	background-color: white; 
	color: #A0A0A0;
	list-style: none;
	text-decoration: none;
}

nav a:link {
	background-color: white; 
    color: black;
}

nav a:visited {
	background-color: white; 	
	color: #A0A0A0;
}

nav a:hover {
	background-color: white; 		
    color: black;
}
nav a:active {
	text-decoration: underline;
}


/**********************
css transitions on img
***********************/
#wrapper img {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;    
    transition: opacity 1s ease-in-out;
}
#wrapper nav img:hover {
    opacity: 0;
}


/**********************
jquery tool tips
***********************/
label {
	display: inline-block;
	width: 5em;
}


/**********************
images
***********************/
img{
	border-style: none;
	vertical-align: middle;	
}


.category {
	font-weight: bold;
	background-color: #FFFFFF;
	color: black;
	font-size: 1.5em;
	text-align: left; 
}

.altrow {
	color: #505050;
	/*background-color: #eaeaea;*/
}

.shop {
	width: 38%;
	float: right;
	text-align: center; 	
	padding: 1em;
}
.desc {

	padding-right: 70px;
}

#wrapper {
	margin-top: 25px;
	
	min-width: 700px;
	max-width: 1024px;
	margin-right: auto;
	margin-left: auto;
	
	background-color: #FFFFFF;	
	color: #606060;		
	width: auto;		
}

#thankyou {
	padding: 0px 0px 300px 0px;
	text-align: center; 	
}

#mobile {
	display: none;
}

#desktop {
	display: inline;
}
