/*main effects*/

header{
	/*-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;*/
}

header.sticky {
	/*
	position: fixed;
	font-size: 24px;
	line-height: 48px;
	height: 48px; 
	width: 100%;
	background: #efc47D;
	text-align: left;
	padding-left: 20px;
	*/
}