/*mobile css*/
@media screen and (max-width: 750px) {
    body {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		background-color: white;
        background-image: none;		
		color: black;
    }
	
	header{
	color: #FFFFFF;
	background-color: #202020;	
    background-image: url('../img/logo_main.png');
	background-position: center;
	background-repeat: no-repeat;	
	}	

	h1 {	
		font-size: 1.5em;
		line-height: 120%;
		text-shadow: 2px 2px 2px #666; 		
	}	

	h2 {
		margin: 0px 0px 10px 0px;
		padding: 5px 5px 5px 5px;
		background-color: #7ac9ed;	
		text-align:center;
		font-size: 1.5em;		
	}
	
	nav {
		float: none;
		width: auto;
		position: relative;	
	}	
	
	nav li {
		display: block;
	}	
	
	nav a {
		display: block;
		padding: 0.2em 0.2em 0.2em 0.2em;
		border-style: none;
		font-size: 1.3em;
		border-bottom-style: solid;
		border-color: #330000;		
		border-width: 1px;		
	}
	
	nav ul {
		text-align: left;	
		padding: 0px 0px 0px 0px;	
		margin: 0px 0px 0px 0px;				
	}	

	nav a:link {
		background-color: white; 		
		text-decoration: none;
		color: black;
	}

	nav a:visited {
		background-color: white; 		
		color: #A0A0A0;
	}

	nav a:hover {
		background-color: white; 
		color: black;
	}
		
	main {
		margin: 0px 0px 0px 0px;		
		padding-top: 0px;
		padding-bottom: 0px;		
		padding-right: 1em;
		padding-left: 0.4em;
		font-size: 90%;		
	}		
	
	dd {
		margin-bottom: 1em;
	}	
	
	footer {
		margin: 0px 0px 0px 0px;		
		padding: 20px 0px 40px 0px;		
	}

	img{
		display: none;
	}
	
	table{
		margin-top: 5px;
		border: none;
		font-size: .85em;
	}	
	
	td {
		border-style: none;
	}

	th{
		border-style: none;		
		text-align: left;	
	}	
	
	.category{
		text-shadow: none; 	
		font-size: 1.5em;
	}	
	
	#wrapper{
		width: auto;
		min-width: 0px;
		margin: 0px 0px 0px 0px;
	}
		
	#mobile {
		display: inline;
	}
	
	#desktop {
		display: none;
	}
}